$p-color: #333333;
$link-color-blue: #56819F;

$button-color: #979797;
$button-hover-color: #bababa;
$button-color: #F58220;
$button-hover-color: #FFA200;
$button-border-color: #E3E3E3;


$sidebar-hover-color: #282828;
$text-color: #a6a6a6;

$main-font: 'Open Sans', sans-serif;

