@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "components/buttons";
@import "components/section";
@import "components/text";
@import "components/table";
@import "sections/sidebar";
@import "sections/navbar";
@import "sections/mobile-menu";
@import "pages/general";

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #F5F5F2;
  font-family: $main-font;
  height: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 685px;
}