.date {
  border-bottom: 1px solid $button-border-color;
  min-height: 110px;

  .date-img {
    text-align: right;
    padding: 10px;
  }
}

.date-line {
  border: 1px solid $button-border-color;
  margin: 35px 10px;
  min-height: 40px;
  .border {
    border-right: 1px solid $button-border-color;
  }
  p {
    padding: 10px 20px;
  }
}

.general-table {
  padding: 18px 0 80px 0;
}

.chart {
  margin-top: 45px;
}

.scroll-wrapper img {
  width: 100%;
  max-width: 100%;
}

.earnings {
  flex-wrap: wrap;
  h3 {
    width: 100%;
    padding: 0 10px;
  }
}
