.navbar {
  background-color: #FFF;
  border-bottom: 1px solid $button-border-color;
  position: fixed;
  width: 100%;
  .notification {
    border-left: 1px solid $button-border-color;
    position: relative;
    width: 5%;
    img {
      height: 20px;
      filter: invert(60%);
      margin: 18px 0;
      width: 100%;
    }
  }
  .money {
    border-left: 1px solid $button-border-color;
    color: #9c9c9c;
    align-items: center;
    justify-content: flex-end;
    padding: 18px 10px;
    img {
      filter: invert(60%);
      height: 20px;
    }
    p {
      display: inline-block;
      font-size: 20px;
      margin: 0 10px 0 15px;
    }
    .arrow-down {
      height: 8px;
      width: 14px;
    }
  }
}
.bell-dot {
  background-color: #f58220;
  border-radius: 50%;
  bottom: 62%;
  height: 8px;
  left: 51%;
  position: absolute;
  width: 8px;
  z-index: 1;
}
.profile {
  border-left: 1px solid $button-border-color;
  padding: 18px;
  align-items: center;
  justify-content: center;
  img {
    filter: invert(60%);
    height: 20px;
  }
  p {
    color: #9c9c9c;
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
  }
}
.exit {
  border-left: 1px solid $button-border-color;
  align-items: center;
  justify-content: center;
  img {
    filter: invert(60%);
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}
