.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #191919;
  height: 100vh;
  width: 10%;
  a {
    color: #000;
    display: block;
  }
  img {
    display: block;
    filter: invert(60%);
    height: 14px;
    width: 14px;
    margin: 12px auto;

  }
  .sidebar-link {
    border-left: 5px solid #191919;
    cursor: pointer;
    height: 40px;
    width: 100%;

    &:hover {
      background-color: $sidebar-hover-color;
      border-left: 5px solid $button-color;
      a, img, p {
        filter: invert(100%);
      }
    }
  }
  .logo-part {
    height: 60px;
    width: 100%;
  }
  p {
    filter: invert(100%);
    font-size: 18px;
    font-weight: 400;
    margin: 11px 0;
  }
}

.sidebar-end {
  border-bottom: 1px solid #333;
  height: 40px;
  width: 100%;
}

.logo {
  img {
    filter: invert(0%);
    height: 20px;
    margin: 20px 15px;
    width: 40%;
  }
}

.hamburger {
  img {
    cursor: pointer;
    float: right;
    height: 17px;
    margin: 22px 15px 20px;
    width: 30.3%;
  }
}

.manager {
  margin: 20px 17px;
  h2 {
    font-size: 14px;
  }
}

.photo {
  position: relative;
  padding: 0 10px;
  img {
    filter: invert(0%);
    height: 45px;
    width: 45px;
  }
}

.manager-name {
  color: #425e72;
  line-height: 65px;
  margin: 0 !important;
  filter: invert(0%) !important;
}

.dot {
  background-color: #04ae00;
  border-radius: 50%;
  bottom: 65%;
  height: 8px;
  left: 70%;
  position: absolute;
  width: 8px;
  z-index: 12;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
